root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = off

dotnet_diagnostic.CA1062.severity = none # Validate arguments of public methods
dotnet_diagnostic.CA1303.severity = none # Do not pass literals as localized parameters
dotnet_diagnostic.CA1515.severity = none # Consider making public types internal

csharp_style_namespace_declarations = file_scoped
csharp_trailing_comma_in_multiline_lists = true

resharper_add_imports_to_deepest_scope = true
resharper_arrange_redundant_parentheses_highlighting = do_not_show
resharper_instance_members_qualify_members = all
resharper_qualified_using_at_nested_scope = true

dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.upper_camel_case_style.capitalization = pascal_case

dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds = field
dotnet_naming_symbols.private_constants_symbols.required_modifiers = const
dotnet_naming_symbols.private_instance_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_instance_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_instance_fields_symbols.required_modifiers =
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers = readonly,static

dotnet_naming_rule.private_constants_rule.severity = error
dotnet_naming_rule.private_constants_rule.style = upper_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols = private_constants_symbols
dotnet_naming_rule.private_instance_fields_rule.severity = error
dotnet_naming_rule.private_instance_fields_rule.style = lower_camel_case_style
dotnet_naming_rule.private_instance_fields_rule.symbols = private_instance_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.severity = error
dotnet_naming_rule.private_static_readonly_rule.style = upper_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols = private_static_readonly_symbols

# TODO below is disabled just to ensure this compiles!

dotnet_diagnostic.CA1000.severity = none
dotnet_diagnostic.CA1001.severity = none
dotnet_diagnostic.CA1002.severity = none
dotnet_diagnostic.CA1003.severity = none
dotnet_diagnostic.CA1008.severity = none
dotnet_diagnostic.CA1019.severity = none
dotnet_diagnostic.CA1024.severity = none
dotnet_diagnostic.CA1027.severity = none
dotnet_diagnostic.CA1028.severity = none
dotnet_diagnostic.CA1030.severity = none
dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.CA1032.severity = none
dotnet_diagnostic.CA1033.severity = none
dotnet_diagnostic.CA1034.severity = none
dotnet_diagnostic.CA1040.severity = none
dotnet_diagnostic.CA1043.severity = none
dotnet_diagnostic.CA1051.severity = none
dotnet_diagnostic.CA1054.severity = none
dotnet_diagnostic.CA1063.severity = none
dotnet_diagnostic.CA1065.severity = none
dotnet_diagnostic.CA1069.severity = none
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1307.severity = none
dotnet_diagnostic.CA1308.severity = none
dotnet_diagnostic.CA1309.severity = none
dotnet_diagnostic.CA1508.severity = none
dotnet_diagnostic.CA1510.severity = none
dotnet_diagnostic.CA1700.severity = none
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1708.severity = none
dotnet_diagnostic.CA1710.severity = none
dotnet_diagnostic.CA1711.severity = none
dotnet_diagnostic.CA1713.severity = none
dotnet_diagnostic.CA1715.severity = none
dotnet_diagnostic.CA1716.severity = none
dotnet_diagnostic.CA1720.severity = none
dotnet_diagnostic.CA1721.severity = none
dotnet_diagnostic.CA1724.severity = none
dotnet_diagnostic.CA1725.severity = none
dotnet_diagnostic.CA1805.severity = none
dotnet_diagnostic.CA1806.severity = none
dotnet_diagnostic.CA1810.severity = none
dotnet_diagnostic.CA1812.severity = none
dotnet_diagnostic.CA1813.severity = none
dotnet_diagnostic.CA1814.severity = none
dotnet_diagnostic.CA1815.severity = none
dotnet_diagnostic.CA1819.severity = none
dotnet_diagnostic.CA1820.severity = none
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.CA1850.severity = none
dotnet_diagnostic.CA1852.severity = none
dotnet_diagnostic.CA1859.severity = none
dotnet_diagnostic.CA1861.severity = none
dotnet_diagnostic.CA1862.severity = none
dotnet_diagnostic.CA2000.severity = none
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA2021.severity = none
dotnet_diagnostic.CA2101.severity = none
dotnet_diagnostic.CA2201.severity = none
dotnet_diagnostic.CA2211.severity = none
dotnet_diagnostic.CA2213.severity = none
dotnet_diagnostic.CA2214.severity = none
dotnet_diagnostic.CA2219.severity = none
dotnet_diagnostic.CA2225.severity = none
dotnet_diagnostic.CA2227.severity = none
dotnet_diagnostic.CA2234.severity = none
dotnet_diagnostic.CA2263.severity = none
dotnet_diagnostic.CA5350.severity = none
dotnet_diagnostic.CA5392.severity = none
dotnet_diagnostic.CA5394.severity = none

dotnet_diagnostic.SA0001.severity = none
dotnet_diagnostic.SA1027.severity = none
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1107.severity = none
dotnet_diagnostic.SA1116.severity = none
dotnet_diagnostic.SA1117.severity = none
dotnet_diagnostic.SA1118.severity = none
dotnet_diagnostic.SA1122.severity = none
dotnet_diagnostic.SA1124.severity = none
dotnet_diagnostic.SA1127.severity = none
dotnet_diagnostic.SA1132.severity = none
dotnet_diagnostic.SA1135.severity = none
dotnet_diagnostic.SA1136.severity = none
dotnet_diagnostic.SA1201.severity = none
dotnet_diagnostic.SA1202.severity = none
dotnet_diagnostic.SA1204.severity = none
dotnet_diagnostic.SA1214.severity = none
dotnet_diagnostic.SA1300.severity = none
dotnet_diagnostic.SA1302.severity = none
dotnet_diagnostic.SA1307.severity = none
dotnet_diagnostic.SA1313.severity = none
dotnet_diagnostic.SA1314.severity = none
dotnet_diagnostic.SA1401.severity = none
dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SA1400.severity = none
dotnet_diagnostic.SA1402.severity = none
dotnet_diagnostic.SA1407.severity = none
dotnet_diagnostic.SA1413.severity = none
dotnet_diagnostic.SA1501.severity = none
dotnet_diagnostic.SA1502.severity = none
dotnet_diagnostic.SA1503.severity = none
dotnet_diagnostic.SA1516.severity = none
dotnet_diagnostic.SA1519.severity = none
dotnet_diagnostic.SA1520.severity = none
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1602.severity = none
dotnet_diagnostic.SA1611.severity = none
dotnet_diagnostic.SA1615.severity = none
dotnet_diagnostic.SA1618.severity = none
dotnet_diagnostic.SA1623.severity = none
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.SA1642.severity = none
dotnet_diagnostic.SA1649.severity = none

dotnet_diagnostic.CS0672.severity = none
dotnet_diagnostic.CS1591.severity = none

dotnet_diagnostic.SYSLIB0050.severity = none
dotnet_diagnostic.SYSLIB0051.severity = none
